
	<div class="hero-unit">
		<h1>Welcome to CallNepal</h1>
		<p>
			A Unique and easiest way to call your <i class="icon-heart"></i> loved ones. You just sit back, relax while we find you best rates and best call quality!!
		</p>
		<p>
			<%= link_to "Sign Up Now!", sign_up_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
